body {
    margin: 0;
}

header {
  font-family: 'Abril Fatface', cursive;
  color: #222;
}

header img {
  width: 100%;
  position: relative;
}

.head {
    position: absolute;
    font-size: 35px;
    top: 210px;
    left: 310px;
    line-height: 11px;
}

.contenta {
  margin: 50px 290px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

blockquote {
  background-color: #404040;
  color: white;
  margin: 0 230px;
  padding: 50px 12px;
  text-align: center;
  font-size: 50px;
  font-family: 'Abril Fatface', cursive;
  position: relative;
}

blockquote::before {
  content: '“';
  font-size: 150px;
  position: absolute;
  margin: 0;
  bottom: 75px;
  left: 0;
}

.left {
  text-align: left;
  padding-left: 50px;
}

.upper {
  text-transform: uppercase;
}

.italic {
  font-family: "Merriweather";
  font-size: 15px;
  font-style: italic;
  margin: 0;
}

.contentb {
  margin: 40px 290px;
  font-family: 'Josefin Sans', sans-serif;
   line-height: 1.5; 
}

hr.solid {
  border-top: 5px solid #404040;
  margin: 30px 0;
}